annotated-types
anyio
certifi
click
colorama
dnspython
email-validator
fastapi-cli[standard]
fastapi-cloud-cli
fastapi[standard]
h11
httpcore
httptools
httpx
idna
jinja2
markdown-it-py
markupsafe
mdurl
pydantic-core
pydantic
pydantic[email]
pygments
python-dotenv
python-multipart
pyyaml
rich-toolkit
rich
rignore
sentry-sdk
shellingham
sniffio
starlette
typer
typing-extensions
typing-inspection
urllib3
uvicorn[standard]
uvloop
watchfiles
websockets
uvicorn[standard]
gunicorn
requests
